$fg:        #ece0ec;
$fg-alt:    #545450;
$bg:        #32322e;
$bg-alt:    #43433f;

$shadow:    #1e1e1e;

$primary:       #a68bcf;
$primary-alt:   #efeda4;
$secondary:     #f290c2;
$secondary-alt: #efb286;

