$fg:        #ece0ec;
$fg-alt:    #545454;
$bg:        #32322e;
$bg-alt:    #444444;

$shadow:    #1e1e1e;

$primary:       #a0c0eb;
$primary-alt:   #efeda4;
$secondary:     #f290c2;
$secondary-alt: #e9bfc8;

