/** Variables **/
$fg:		#f282a7;
$bg:		#ffc2d1;
$altbg: 	#ffe5ec;
$shadow: 	rgba(#1e1e1e, 0.6);
$text-shadow:	rgba(#1e1e1e, 0.4);

$blur-bg:	rgba(#d1e5f4, 1);

$pink: 			#fea4b0;
$bubblegum: 	 	#f282a7;

$pastel-blue:	#c4ddf4;

$arch-logo: 	#45b6ef;
$spotify-logo: 	#90ee90;
$haskell-logo: 	#ac94f4;

/** Global **/
* {
    all: 		unset;
    font-family: 	"JetBrainsMonoNerd";
    font-weight: 	bold;
}

/** Windows **/
.bar {
    // background:		linear-gradient(90deg, $pastel-blue, $bg, $pastel-blue); 
    background-color:		$bubblegum;
}


/** Widgets **/
/** Child container **/
.left-widget, .center-widget, .right-widget {
    background-color: 	transparent;
    margin: 		10px;
}

/** Right modules **/
/** Start menu **/
.start-menu {
    background-color: 	$bg;
    border-radius:	50px;
    margin: 		0px 10px 0px 10px;
    padding: 		6px 6px 6px 6px;
    
    box-shadow: 	-2px 2px 2px 2px $shadow;
}
.arch-icon {
    background-color:	$altbg;
    color: 		$bubblegum;
    border-radius:	50px;
    font-size: 		26px;

    padding:		0px 12px 0px 12px;
}

/** Power menu **/
.power-menu {
    background-color: 	$bg;
    border-radius: 	50px;
    margin: 		0px 10px 0px 10px;
    padding: 		6px 6px 6px 6px;
    box-shadow: 	-2px 2px 2px 2px $shadow;
}
.haskell-icon {
    background-color:	$altbg;
    color: 		$bubblegum;
    border-radius:	50px;
    font-size: 		26px;

    padding:		0px 12px 0px 12px;
}							

/** Workspaces **/
.workspaces {
    background-color: 	$altbg;
    border-radius: 	50px;
    margin: 		0px 10px 0px 10px;
    padding: 		0px 20px 0px 20px;
    box-shadow: 	-2px 2px 2px 2px $shadow;
}

.inactive, .occupied, .active {
    font-size: 	26px;
    padding: 	6px 10px 4px 4px;
}
.inactive {
    color: $pink;
}
.occupied {
    color: $bubblegum;
}
.active {
    color: $bubblegum;
}

/** Time **/
.time {
    background-color:	transparent;
    color: 		$altbg;
    font-size: 		22px;
    text-shadow: 	-2px 2px 3px $text-shadow; 
}			

/** Center module **/
/** Music **/
.music {
    background-color: 	$bg;
    border-radius: 	50px;
    padding:		0px 20px 0px 20px;
    margin: 		0px 10px 0px 10px;
    box-shadow: 	-2px 2px 2px 2px $shadow;
}
.spotify-icon {
    background-color:	transparent;
    font-size: 		26px;
    color: 		$bubblegum;
    border-radius:	12px;

    padding:		0px;
}
.music-status {
    background-color:	$altbg;
    border-radius:	10px;
    font-size: 		18px;
    padding:		2px 8px 6px 8px;
    margin:		6px;
    color: 		$fg;
}
.music-art {
    background-color:	$altbg;
    background-size:	38px;
    background-repeat:	no-repeat;
    min-height:		38px;
    min-width:		38px;

    border-radius:	50px;
    box-shadow:		-2px 2px 2px 2px $shadow;
}    

/** Left modules **/
/** System information **/
.system-info {
    background-color: 	$bg;
    border-radius: 	50px;
    margin: 		0px 10px 0px 10px;
    padding: 		0px 20px 0px 20px;
    box-shadow: 	-2px 2px 2px 2px $shadow;
}

/** Modules backgrounds **/
.brightness-info, .volume-info, .time-info, .wifi-info, .battery-info {
    border-radius: 	10px;
    padding: 		2px 8px 2px 8px;
    margin: 		6px 0px 6px 0px;
}

.brightness-info {
    background-color: $altbg; 
}
.volume-info {
    background-color: $altbg;
}
.time-info {
    background-color: $altbg;
}
.wifi-info {
    background-color: $altbg;
}
.battery-info {
    background-color: $altbg;
}

/** Brightness **/
.brightness-icon {
    font-size: 	20px;
    color: 	$bubblegum;
}
.brightness {
    font-size: 	18px;
    color: 	$fg;
}

/** Volume **/
.volume-icon {
    font-size: 	22px;
    color: 	$bubblegum;
}
.volume {
    font-size: 	18px;
    color: 	$fg;
}

/** Wi-fi **/
.wifi-icon {
    font-size: 	20px;
    color: 	$bubblegum;
}
.wifi {
    font-size: 	18px;
    color: 	$fg;
}

/** Battery **/
.battery-icon {
    font-size: 	20px;
    color: 	$bubblegum;
}
.battery {
    font-size: 	18px;
    color: 	$fg;
}








