/***** Window *******************************************************/
.window_top_bar {
    background-color: rgba($purple, 0.5);
}

/***** Widget *******************************************************/
.top_bar_root_box {
    transition: 400ms ease;
}

.top_bar_root_box_div {
    background-color: $bg;
    transition: 400ms ease;
}

.top_bar_left {
    background-color: $bg;
    border-radius: 1rem 0rem 0rem 1rem;
    box-shadow: 0rem 0rem 0.4rem $bg;
    transition: 400ms ease;
}

.top_bar_left_div {
    background-color: $bg;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.4rem $bg;
    transition: 400ms ease;
}

.top_bar_center {
    background-color: $bg;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.4rem $bg;
    // transition: 400ms ease;
}

.top_bar_right {
    background-color: $bg; 
    border-radius: 0rem 1rem 1rem 0rem;
    box-shadow: 0rem 0rem 0.4rem $bg;
    transition: 400ms ease;
}

.top_bar_right_div {
    background-color: $bg;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.4rem $bg;
    transition: 400ms ease;
}

// Bar left
.bar_left_uptime {
    background-color: $purple;
    border-radius: 1rem;

    .label {
        color: $yellow;
        font-size: 1.2rem;
        // font-style: italic;
        font-weight: bold;
    }
}

// .bar_left_workspaces {
//     background-color: $fg-alt;
//     border-radius: 2rem;
// }

.bar_left_divide {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms ease;

    .icon {
        color: $yellow;
        font-size: 2rem;
        padding-right: 0.5rem;  
    }

    &:hover {
        background-color: $fg-alt;
    }
}

.bar_left_conquer {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms ease;

    .icon {
        color: $orange;
        font-size: 2rem;
        // padding-right: 0.5rem;
    }

    &:hover {
        background-color: $fg-alt;
    }
}

.bar_left_workspaces {
    background-color: $bg-alt;
    border-radius: 1rem;
}

.ws_active {
    color: $yellow;
    font-size: 1.2rem;
    font-weight: bold;
}

.ws_inactive {
    color: $purple;
    font-size: 1.2rem;
    font-weight: bold;
}

.ws_occupied {
    color: $orange;
    font-size: 1.2rem;
    font-weight: bold;
}


// Bar center

// Page rev sw
.bar_center_rev_sw {
}

.bar_center_rev_sw_page0 {
    border-radius: 2rem;
    transition: 200ms ease;

    .icon {
        color: $pink;
        font-size: 1.6rem;
    }

    .label {
        color: $fg;
        font-size: 1.2rem;
        font-weight: bold; 
    }

    &:hover {
        background-color: $fg-alt;
    }
}

.bar_center_rev_sw_page1 {
    border-radius: 2rem;
    transition: 200ms ease;
    
    .icon {
        color: $yellow;
        font-size: 1.2rem;
    }

    .label {
        color: $fg;
        font-size: 1.2rem;
        font-weight: bold; 
    }
    
    &:hover {
        background-color: $fg-alt;
    }
}

.bar_center_rev_sw_page2 {
    border-radius: 2rem;
    transition: 200ms ease;
    
    .icon {
        color: $orange;
        font-size: 1.2rem;
    }

    .label {
        color: $fg;
        font-size: 1.2rem;
        font-weight: bold; 
    }
    
    &:hover {
        background-color: $fg-alt;
    }
}

// Page 0
.bar_center_mpris_label {
    .title {
        color: $fg;
        font-size: 1.12rem;
        font-weight: bold;
    }

    .artist {
        color: $fg;
        font-size: 1rem;
        font-weight: bold; 
    }
}

.bar_center_mpris_con {
    // background-color: $purple;
    // border-radius: 1rem;
    // box-shadow: 0rem 0rem 0.4rem $bg;

    .prev_icon {
        color: $fg;
        font-size: 1.8rem;
        transition: 200ms ease;

        &:hover {
            opacity: 0.5; 
        }
    }

    .toggle_icon {
        color: $fg;
        font-size: 1.8rem;
        transition: 200ms ease;
        
        &:hover {
            opacity: 0.5; 
        }
    }

    .next_icon {
        color: $fg;
        font-size: 1.8rem;
        transition: 200ms ease;
        
        &:hover {
            opacity: 0.5; 
        }
    }
}

// Page 1
.bar_center_lan {
    .icon {
        color: $orange;
        font-size: 1.2rem; 
    }

    .label {
        color: $fg;
        font-size: 1.12rem;
        font-weight: bold; 
    }
}

.bar_center_bluetooth {
    .icon {
        color: $purple;
        font-size: 1.2rem; 
    }

    .label {
        color: $fg;
        font-size: 1.12rem;
        font-weight: bold; 
    }
}

.bar_center_sysinfo_levels {
    background-color: $purple;
    border-radius: 1rem;
}

.bar_center_volume {
    .icon {
        color: $yellow;
        font-size: 1.2rem; 
    }

    .label {
        color: $yellow;
        font-size: 1.2rem;
        font-weight: bold; 
    }
}

.bar_center_brightness {
    .icon {
        color: $yellow;
        font-size: 1.2rem; 
    }

    .label {
        color: $yellow;
        font-size: 1.2rem;
        font-weight: bold; 
    }
}

// Page 2
.center_bar_shutdown {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms;

    .icon {
        color: $orange;
        font-size: 1.8rem; 
    }

    &:hover {
        background-color: $fg-alt;
    }
}

.center_bar_suspend {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms;
    
    .icon {
        color: $yellow;
        font-size: 1.8rem; 
    }

    &:hover {
        background-color: $fg-alt;
    }
}

.center_bar_logout {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms;
    
    .icon {
        color: $purple;
        font-size: 1.8rem; 
    }

    &:hover {
        background-color: $fg-alt;
    }
}

.center_bar_reboot {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms;
    
    .icon {
        color: $pink;
        font-size: 1.8rem; 
    }

    &:hover {
        background-color: $fg-alt;
    }
}

// Bar right
.bar_right_battery {
    background-color: $bg-alt;
    // border-bottom: 0.25rem solid $fg-alt; 
    border-radius: 1rem;

    .icon {
        color: $pink;
        font-size: 1.2rem;
    }
}

.bar_right_date {
    background-color: $purple;
    border-radius: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    
    .label {
        color: $yellow;
        font-size: 1.2rem;
        font-style: italic;
        font-weight: bold;
    }
}

.bar_right_time {
    background-color: $purple;
    border-radius: 1rem;

    .time_icon {
        color: $yellow;
        font-size: 1.2rem;
    }

    .time_label {
        color: $yellow;
        font-size: 1.2rem;
        font-weight: bold; 
    }
}





