/** Variables *******************************************************/

// // Iceberg
// $fg:        #c6c8d1;
// $bg:        #161821;

// $primary:       #84a0c6;
// $secondary:     #b4be82;

// // Bubblegum
// $fg:        #fadee1;
// $bg:        #2a2a2a;
// 
// $primary:       #fea4b0;
// $secondary:     #f282a7;

// Custom theme
$fg:                #c6c8d1;
$bg:                #161821;

$primary:           #fea4b0;
// $secondary:         #b4be82;
$secondary:         #89b8c2;

/** Global **********************************************************/
* {
    all:            unset;
    font-family:    "Inconsolata";
}

/** Windows *********************************************************/
.window_workspace,
.window_music,
.window_clock,
.window_battery
{
    background-color:       $bg;
    border:                 0.15rem solid $secondary;
}

/** Widgets *********************************************************/

// Workspace
.workspace_active {
    color:          $primary;
    font-size:      1.2rem;
    font-weight:    bold;
}
.workspace_inactive {
    color:          $fg;
    font-size:      1.2rem;
    font-weight:    bold;
}
.workspace_occupied {
    color:          $secondary;
    font-size:      1.2rem;
    font-weight:    bold;
}

// Music
.music_title, 
.music_artist 
{
    color:          $fg;
    font-weight:    bold;
}

// Battery
.battery_icons {
    color:          $primary;
    font-size:      1.2rem;
}

// Clock
.clock_time {
    color:          $fg;
    font-size:      1.2rem;
    font-weight:    bold;
}



