/***** Window *******************************************************/
.window_center_dashboard {
    background-color: $bg;
}

/***** Widget *******************************************************/
.center_dashboard_rev_sw {
    background-color: $fg;
    border-radius: 2rem;
}

// Vdesk viewer
.vdesk_viewer_bg {
    background-color: $fg;
    border-radius: 2rem;
}

.vdesk_viewer_currentwall {
    box-shadow: 0rem 0rem 0.4rem $shadow;
}

.vdesk_viewer_thumbnails_bg {
    background-color: $primary-alt;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.4rem $shadow;
}

.vdesk_viewer_thumbnails_title_bar {
    .name {
        color: $fg-alt;
        font-size: 1.2rem;
        font-weight: bold; 
    }
}

.vdesk_viewer_thumbnails_kill_btn {

}    

.vdesk_viewer_thumbnails {
    border-radius: 1rem;
}


