$fg: #eeeeee;
$fg-alt: #555555;
$bg: #333333;
$bg-alt: #444444;

$color0: #f290c2;
$color1: #b6d4ff;     
$color2: #c4b2ff;
$color3: #ffdbec;
$color4: #9fccff;
$color5: #c29de5;
$color6: #ffccec;
$color7: #efeda4;                                                         

