$fg:        #eeeeee;                                                         
$fg-alt:    #545454;                                                         
$bg:        #333333; 
$bg-alt:    #444444;
                                                                             
$color0:    #efb286;                                                         
$color1:    #6bdbca;                                                         
$color2:    #efeda4;                                                         
$color3:    #f290c2;                                                         
$color4:    #a68bcf;                                                         
$color5:    #6dc2e9;
$color6:    #6dc2e9;
$color7:    #fea4b0;
