/***** Windows ******************************************************/
.window_right_notifpop {
    background-color: rgba($bg, 0.5);
}

/***** Widgets ******************************************************/
.right_notifpop_root_box {
    background-color: $bg;
}





