$fg:        #fdf1f3;
$fg-alt:    #545450;
$bg:        #2f2524;
$bg-alt:    #52433e;

$shadow:    #1e1e1e;

$primary:       #7d83a7;
$primary-alt:   #efeda4;
$secondary:     #8aa0ae; 
$secondary-alt: #f0be9d;
