$fg:        #f5f5f5;
$fg-alt:    #a07572;
$bg:        #543b3c;
$bg-alt:    #906562;

$shadow:    #1e1e1e;

$primary:       #fea4b0;
$primary-alt:   #eeeffe;
$secondary:     #fdafab; 
$secondary-alt: #fec9cb;
