$fg:        #fbf5e9;
$fg-alt:    #545450;
$bg:        #2f2524;
$bg-alt:    #52433e;

$shadow:    #1e1e1e;

$primary:       #f26f21;
$primary-alt:   #eeeecc;
$secondary:     #ce9578;
$secondary-alt: #a0a86d;
