/** Variables *******************************************************/

// // Bubbleugm
// $fg:        #fadee1;
// $bg:        #2a2a2a;
// $bg-alt:    #545454;
// 
// $primary:        #f282a7;
// $secondary:      #fea4b0;

// Custom theme
$fg:                #c6c8d1;
$bg:                #161821;
$bg-alt:            #545454;

$primary:           #fea4b0;
// $secondary:         #b4be82;
$secondary:         #89b8c2;

/** Global **********************************************************/
* {
    all:            unset;
    font-family:    "Hack";
}

// Buttons
.sys_button_square {
    color:              $fg;
    font-size:          1.5rem;
    background-color:   $bg-alt;
    border-radius:      0.5rem;
}
    
.sys_button_rect {
    color:              $fg;
    font-size:          1rem;
    font-weight:        bold;
    border:             0.15rem solid $bg-alt;
    border-radius:      0.5rem;
}

// Labels
.sys_label {
    color:              $bg-alt;
    font-size:          0.9rem;
    font-weight:        bold;
}

.music_info {
    color:              $fg;
    font-size:          0.9rem;
    font-weight:        bold;
}

// Icons
.sys_icon {
    color:              $fg;
}

/** Windows *********************************************************/
.window_gnome_widget,
.window_music,
.window_powermenu, 
.window_ssmenu
{
    background-color:   $bg;
    border:             0.15rem solid $secondary;
}

/** Widgets *********************************************************/
// Date
.date {
    padding:            0.5rem;
}

.clock {
    color:              $fg;
    font-size:          2.5rem;
    font-weight:        bold;
}

// Profile
.profile {
    border:             0.15rem solid $bg-alt;
    border-radius:      1rem;
    padding:            0.5rem;
}

.name {
    color:              $fg;
    font-size:          1.37rem;
    font-weight:        bold;
}

.sys_bar scale trough {
    all:                unset;
    background-color:   $bg-alt;
    min-width:          16rem;
    min-height:         0.25rem;
    // border:             0.1rem solid $bg-alt;
}

.sys_bar scale trough highlight {
    all:                unset;
    background-color:   $primary;
    // margin:             0.2rem; 
}






