/** Variables *******************************************************/
$fg:        #fadee1;
$bg:        #2a2a2a;
$bg-alt:    #545454;

$pink:      #fea4b0;
$bubblegum: #f282a7;

/** Global **********************************************************/
* {
    all:            unset;
    font-family:    "Hack";
}

// Buttons
.power_shutdown, 
.power_suspend,
.power_logout,
.power_reboot,
.music_prev, 
.music_toggle, 
.music_next, 
.music_loop
{
    color:              $fg;
    font-size:          1.5rem;
    background-color:   $bg-alt;
    border-radius:      1rem;
}
    
.lan, 
.bluetooth
{
    color:              $fg;
    font-size:          1rem;
    font-weight:        bold;
    border:             0.15rem solid $bg-alt;
    border-radius:      1rem;
}

// Labels
.date_label,
.lan_label, 
.bluetooth_label,
.battery_label,
.bright_label,
.volume_label
{
    color:              $bg-alt;
    font-size:          0.9rem;
}

.music_label
{
    color:              $fg;
    font-size:          0.9rem;
}

/** Windows *********************************************************/
.window_gnome_widget,
.window_powermenu 
{
    background-color:   $bg;
    border:             0.15rem solid $pink;
    border-radius:      1rem;
}

.window_music {
    background-color:   $bg;
    border:             0.15rem solid $pink;
    border-radius:      1rem;
}

/** Widgets *********************************************************/
// Date
.date {
    padding:            0.5rem;
}

.clock {
    color:              $fg;
    font-size:          2.5rem;
    font-weight:        bold;
}

// Profile
.profile {
    border:             0.1rem solid $bg-alt;
    border-radius:      1rem;
    padding:            0.5rem;
}

.name {
    color:              $fg;
    font-size:          1.5rem;
    font-weight:        bold;
}

// Brightness Volume
.battery,
.brightness, 
.volume 
{
    color:              $fg;
    font-size:          1rem;
}

.battery_bar scale trough,
.bright_bar scale trough, 
.volume_bar scale trough, 
.music_bar scale trough
{
    all:                unset;
    // background-color:   $bg-alt;
    min-width:          17rem;
    min-height:         0.37rem;
    border:             0.1rem solid $bg-alt;
    border-radius:      1rem;
}

.battery_bar scale trough highlight,
.bright_bar scale trough highlight, 
.volume_bar scale trough highlight,
.music_bar scale trough highlight
{
    all:                unset;
    background-color:   $bubblegum;
    // margin:             0.2rem; 
    border-radius:      1rem;
}







