/** Variables *******************************************************/

// Colors
$fg:                #c6c8d1;
$bg:                #161821;
$bg-alt:            #545454;
$primary:           #fea4b0;
$secondary:         #fff1bb;

/** Global **********************************************************/
* {
    all:            unset;
    font-family:    "JetBrainsMono";
}
/** Windows *********************************************************/
.window_bg {
    background:         $fg;
    opacity:            0.5;
}

.window_start,
.window_workspace,
.window_activewindow,
.window_sysinfo,
.window_battery,
.window_clock, 
.window_menu,
{
    background-color:   $bg;
    border:             0.15rem solid $primary;
}

.window_music {
    background-color:   $bg;
    border:             0.15rem solid $bg-alt;
}

/** Widgets *********************************************************/

// Start
.start {
}

// Workspace
.workspace_active {
    color:              $primary;
}
.workspace_inactive {
    color:              $fg;
}
.workspace_occupied {
    color:              $secondary;
}

// Activewindow
.activewindow_icon {
	color:				$secondary;
}
.activewindow_name {
	color:				$fg;
	font-size:			0.95rem;
	font-weight:		bold;
}

// Music
.music_title, 
.music_artist
{
	color:				$fg;
	font-size:			0.95rem;
	font-weight:		bold;
}

// Systeminfo
.bluetooth_icon, 
.lan_icon
{
	color:				$secondary;
	font-size:			0.95rem;
}
.bluetooth_devicename, 
.lan_ssid
{
	color:				$fg;
	font-size:			0.95rem;
	font-weight:		bold;
}

.volume_icon,
.bright_icon
{
	color:				$secondary;
}
.volume_level,
.bright_level
{
	color:				$fg;
	font-size:			0.95rem;
	font-weight:		bold;
}

// Battery
.battery_icons {
	color:				$primary;
}

// Clock
.clock_icon {
	color:				$secondary;
}
.clock_time {
	color:				$fg;
	font-weight:		bold;
}

// Menu
.menu { 
    color:              $secondary;
    font-size:          1.25rem;
}



