$fg:        #ece0ec;
$fg-alt:    #43433f;
$bg:        #32322e;
$bg-alt:    #645454;

$shadow:    #1e1e1e;

$color0:    #645454;
$color1:    #efb286;
$color2:    #6bdbca;
$color3:    #efeda4;
$color4:    #f290c2;
$color5:    #a68bcf;
$color6:    #6dc2e9;
$color7:    #ece0ec;
