/** Variables *******************************************************/
$fg:        #c6c8d1;
$bg:        #161821;
$bg-alt:    #545454;

$primary:      #84a0c6;
$secondary: #b4be82;

/** Global **********************************************************/
* {
    all:            unset;
    font-family:    "Hack";
}

/** Windows *********************************************************/
.window_workspace,
.window_music,
.window_clock,
.window_battery
{
    background-color:       $bg;
    border:                 0.15rem solid $primary;
}

/** Widgets *********************************************************/

// Workspace
.workspace {
    font-size:      1.15rem;
    font-weight:    bold;
}

.active {
    color:      $secondary;
}
.inactive {
    color:      $fg;
}
.occupied {
    color:      $primary;
}

// Music
.music {
    color:          $fg;
    font-size:      0.9rem;
    font-weight:    bold;
}

// Clock
.clock {
    color:          $fg;
    font-size:      1.1rem;
    font-weight:    bold;
}

// Battery
.battery {
    color:          $fg;
    font-size:      1.15rem;
}







