/** Variables **/
$bg:		rgba(#fea4b0, 0.5);
$bg-alt:	#fadee1;
$shadow:	rgba(#1e1e1e, 0.5);

$bubblegum:	#f282a7;
$pink:		#fea4b0;
$pastel-blue:	#d1e5f4;
$dark:		#808080;

/** Global **/
* {
    all:		unset;
}

/** Window **/
.music-popup {
    background:		linear-gradient(32deg, $pastel-blue, $pink);
    background-color:	$bg;
}

/** Music-Popup **/
.music-art {
    background-color:	$bg-alt;
    background-size:	200px;
    background-repeat:	no-repeat;
    min-height:		200px;
    min-width:		200px;

    border-radius:	20px;
    margin:		20px;
    box-shadow:		-2px 2px 2px 2px $shadow;
}

.music-bar, scale trough {
    all:		unset;
    background-color:	$dark;
    border-radius:	20px;

    min-height:		10px;
    min-width:		60px;
}

.music-bar, scale trough highlight {
    all:		unset;
    background-color:	$bubblegum;
    border-radius:	20px;
}




